@model AlbergoEpicode.Models.Cliente
@{
    ViewBag.Title = "Nuovo Cliente";
}

<h2>Nuovo Cliente</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.CodiceFiscale, "Codice Fiscale")
        @Html.TextBoxFor(m => m.CodiceFiscale, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CodiceFiscale, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Cognome)
        @Html.TextBoxFor(m => m.Cognome, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Cognome, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Nome)
        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Citta, "Città")
        @Html.TextBoxFor(m => m.Citta, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Citta, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Provincia)
        @Html.TextBoxFor(m => m.Provincia, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Provincia, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Telefono)
        @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Telefono, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Cellulare)
        @Html.TextBoxFor(m => m.Cellulare, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Cellulare, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-success my-3">
        Aggiungi Cliente
    </button>

}
